@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Reenie Beanie', serif !important;
    font-size: 34px !important;
}

header img{
    width: 400px;
    display: block;
    margin: auto;
    margin-top: 42px;
    margin-bottom: 62px;
}

.intro{
    width: 90% !important;
    display: block;
    margin: auto;
    padding: 42px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: box-shadow 0.5s;
}

.intro:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

span.yellow{
    background-color: yellow;
}